In [1]:
import pandas as pd

In [4]:
pd.set_option('display.max_columns', None)
store_records = pd.read_csv('../data/sample_superstore_updated.csv')
store_records['order_year'] = store_records['order_date'].str[-4:]
store_records.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit,order_year
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2016
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2016
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2016
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2015
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,2015

## KPI Data Points for Dashboard

In [17]:
# category of most sold products (rank top 3)
# there are only 3 main categories, but this is where each ranks

# top_3_category = store_records['category'].value_counts()[0:3]
# top_3_category

In [18]:
# category of most sold products (rank top 5)

# top_5_sub_category = store_records['sub_category'].value_counts()[0:5].reset_index()
# top_5_sub_category

In [16]:
# top 5 list of products that generate the most profit

high_profit_products = store_records[['product_id', 'product_name','category','sub_category','profit']].groupby('product_id').agg({'profit':'sum', 'product_name':'first', 'category':'first', 'sub_category':'first'}).sort_values(by='profit', ascending=False).reset_index()
high_profit_products_top_5 = high_profit_products.iloc[0:5]
high_profit_products_top_5

,product_id,profit,product_name,category,sub_category
0,TEC-CO-10004722,25199.9280,Canon imageCLASS 2200 Advanced Copier,Technology,Copiers
1,OFF-BI-10003527,7753.0390,Fellowes PB500 Electric Punch Plastic Comb Bin...,Office Supplies,Binders
2,TEC-CO-10001449,6983.8836,Hewlett Packard LaserJet 3310 Copier,Technology,Copiers
3,TEC-CO-10003763,4570.9347,Canon PC1060 Personal Laser Copier,Technology,Copiers
4,TEC-AC-10002049,4425.3432,Logitech G19 Programmable Gaming Keyboard,Technology,Accessories

In [19]:
# top 5 list of products that generate the least profit

neg_profit_products = store_records[['product_id', 'product_name','category','sub_category','profit']].groupby('product_id').agg({'profit':'sum', 'product_name':'first', 'category':'first', 'sub_category':'first'}).sort_values(by='profit', ascending=True).reset_index()
neg_profit_products_top_5 = neg_profit_products.iloc[0:5]
neg_profit_products_top_5

,product_id,profit,product_name,category,sub_category
0,TEC-MA-10000418,-8879.9704,Cubify CubeX 3D Printer Double Head Print,Technology,Machines
1,TEC-MA-10000822,-4589.9730,Lexmark MX611dhe Monochrome Laser Printer,Technology,Machines
2,TEC-MA-10004125,-3839.9904,Cubify CubeX 3D Printer Triple Head Print,Technology,Machines
3,FUR-TA-10000198,-2876.1156,Chromcraft Bull-Nose Wood Oval Conference Tabl...,Furniture,Tables
4,FUR-TA-10001889,-1934.3976,Bush Advantage Collection Racetrack Conference...,Furniture,Tables